ul.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}
/* Main menu */
.menu-main_nav {
	@media (max-width: 1200px) {
		padding: 20px 0;

		.header-centered & {
			padding-bottom: 0;
		}
		.header-minimal & {
			padding: 0;
		}
		.menu_fixed & {
			padding: 0;
		}
	}
	.hamburger-area & {
		margin: 0 -.9375rem;

		@media (max-width: 767px) {
			padding: 10px 0 20px 0;
		}
	}
	> ul.main-navigation {
		clear: both;
		display: block;
		float: none;
		width: 100%;
		text-align: center;
		margin: 0;

		@media (max-width: 767px) {
			text-align: left;
			border-bottom: 1px solid #d3d3d8;
		}
		.header-centered & {
			padding-top: 18px;

			@media (max-width: 1200px) {
				padding: 0;
			}
		}
		.header-minimal & {
			text-align: left;
			padding: 13px 0 0;

			@media (max-width: 1200px) {
				padding: 0;
			}
		}
		a[href="#"] {
			cursor: default;
		}
		> li {
			display: inline-block;
			float: none;
			position: relative;
			vertical-align: middle;
			z-index: 100;
			margin: 0 0 0 29px;

			.page-layout-boxed & {
				margin: 0 0 0 10px;
			}
			@media (max-width: 1600px) {
				margin: 0 0 0 20px;
				white-space: normal;
			}
			@media (max-width: 767px) {
				display: block;
				margin: 0;
				border-top: 1px solid #d3d3d8;
			}
			&:before {
				content: '';
				position: absolute;
				left: -19px;
				width: 1px;
				height: 9px;
				top: 50%;
				margin-top: -5px;
				pointer-events: none;
				background: #8f8fb0;

				.header-centered &,
				.header-minimal & {
					top: .5em;
					margin: 0;
				}
				.page-layout-boxed & {
					display: none;
				}
				@media (max-width: 1600px) {
					display: none;
				}
				@media (max-width: 767px) {
					display: none;
				}
			}
			&:first-child {
				margin: 0;
				padding-left: 21px;

				@media (max-width: 1600px) {
					padding: 0;
				}
				.header-centered &,
				.header-minimal & {
					padding-left: 0;
				}
				&:before {
					display: none;
				}
				> .sub-menu {
					margin: 0 0 0 21px;

					@media (max-width: 1600px) {
						margin: 0;
					}
				}
			}
			&:hover > a,
			&.focus > a {}
			> a {
				display: inline-block;
				vertical-align: middle;
				text-decoration: none;
				position: relative;
				padding: 37px 0 41px;

				.menu_fixed & {
					padding: 20px 0;

					@media (max-width: 767px) {
						padding: 15px 20px;
					}
				}
				.header-centered & {
					padding: 0 0 35px;

					@media (max-width: 1200px) {
						padding: 0 0 5px;
					}
				}
				.header-minimal & {
					padding: 0 0 36px;

					@media (max-width: 1200px) {
						padding: 0 0 5px;
					}
				}
				@media (max-width: 1200px) {
					padding: 0 0 5px;
				}
				@media (max-width: 767px) {
					display: block;
					padding: 15px 20px;
				}
				&.sf-with-ul {
					&:after {
						right: 0;
						margin-top: 0;
						margin-left: 10px;
						position: relative;
						display: inline-block;
						vertical-align: middle;
						display: none;

						@media (max-width: 767px) {
							display: none;
						}
					}
				}
				&[title] {
					@media (max-width: 767px) {
						position: relative;
						padding-right: 180px;
						overflow: hidden;

						&:after {
							content: attr(title);
							display: block;
							font-weight: normal;
							font-size: .8em;
							margin: 5px 0 0;
							color: #000;
							border: none;
							position: absolute;
							top: 50%;
							right: 20px;
							width: 150px;
							height: auto;
							margin: 0;
							text-align: right;
							transform: translateY(-50%);
						}
					}
				}
			}
			> .title-attributes {
				display: inline-block;
				vertical-align: middle;
				padding: 0 0 0 5px;
				font-weight: normal;
				font-size: .7em;

				.header-minimal &,
				.header-centered & {
					vertical-align: top;
					padding-top: 2px;
				}
				@media (max-width: 767px) {
					display: none;
				}
			}
			&.sfHover {
				z-index: 1000;
			}
			ul {				
				li {
					font-style: italic;
					font-weight: normal;
					margin: 0;

					@media (max-width: 767px) {
						margin: 0;
					}
					a {
						@media (max-width: 767px) {
							display: block;
							padding: 15px 20px;


						}
					}
				}
			}
		}
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
		}
		ul {
			display: none;
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: left;
			width: 13.75rem;
			max-width: 300px;
			top: 100%;
			border-bottom: 1px solid #4d4d64;

			.top-panel_container & {
				background: #f5f5f5;
			}
			@media (max-width: 992px) {
				width: 200px;
			}
			@media (max-width: 767px) {
				border-bottom: none;
				display: block !important;
				position: relative;
				opacity: 1 !important;
				visibility: visible !important;
				padding: 0;
				margin: 0;
				max-width: none;
				width: 100%;
			}
			li {
				display: block;
				white-space: normal;
				margin: 0;

				@media (max-width: 767px) {
					border-top: 1px solid #d3d3d8;
				}
				&:hover > ul,
				&.focus > ul {
					left: 100%;

					@media (max-width: 767px) {
						left: 0;
					}
				}
			}
			a {
				display: block; 
				width: auto; 
				padding: 15px 20px;
				border-top: 1px solid #4d4d64;

				@media (max-width: 767px) {
					padding: 0;
					display: inline-block;
					border: none;
				}
				&.sf-with-ul {
					&:after {
						content: '\e5cc';
						font: 1.25em/1.2em $font__material;
						border: none;
						margin: -10px 0 0;
						right: 15px;
						width: auto;
						height: auto;

						@media (max-width: 767px) {
							display: none;
						}
					}
				}
			}
			:hover > a,
			.focus > a {}
			a:hover,
			a.focus {}

			ul {
				float: left;
				position: absolute;
				padding: 0;
				margin: 0;
				top: 0;
				left: -999em;
				z-index: 99999;

				.menu_fixed & {
					padding: 0;
				}
				@media (max-width: 767px) {
					float: none;
					display: block !important;
					position: relative;
					opacity: 1 !important;
					visibility: visible !important;
					padding: 0;
					margin: 0;
					max-width: none;
					width: 100%;
					left: 0;
				}
				li {
					a {
						@media (max-width: 767px) {
							padding-left: 40px;
						}
					}
				}
				ul {
					left: -999em;
					top: 0;
				}
			}

			li:hover > ul,
			li.focus > ul {
				left: 100%;

				@media (max-width: 767px) {
					left: 0;
				}
			}
		}
	}
}

/* Top panel menu */
.menu-top_nav {
	.menu {
		display: inline-block;
		vertical-align: top;
	}
}
.menu-top_nav,
.top-panel_container .menu,
.menu-footer_nav,
.site-footer .menu {
	ul {
		text-align: left; 
		line-height: 1;

		li {
			display: inline-block;
			vertical-align: middle;

			@media (max-width: 1200px) {
				margin: 5px 5px 5px 0;
			}
			@media (max-width: 767px) {
				display: block;
				margin: 0;
				padding: 20px 0 0;

				&:first-child {
					padding: 0;
				}
			}
			&:not(:empty) {
				&:before {
					content: '•';
					display: inline-block;
					vertical-align: top;
					margin: 0 11px 0 8px;
					color: #8F8FB0;

					@media (max-width: 1200px) {
						display: none;
					}
				}
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
		}
	}
}

/* Footer menu */
.menu-footer_nav,
.site-footer .menu {
	ul {
		text-align: center; 

		@media (max-width: 767px) {
			margin: 30px 0 0;
		}
		.footer-style-3 & {
			text-align: left;

			@media (max-width: 767px) {
				text-align: center;
			}
		}
	}
}

/* Social menu */
.social-list {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

	.footer-style-2 &,
	.footer-style-3 &  {
		text-align: right;

		@media (max-width: 767px) {
			text-align: center;
		}
	}
	li {
		display: inline-block;
		vertical-align: middle;
		margin: 5px 10px 5px 11px;

		a {
			text-decoration: none;
		}
	}
	&.list-header {
		text-align: right;
		padding-right: 2px;

		.header-minimal & {
			text-align: right;	
		}
		.menu_fixed & {
			display: none;
		}
		@media (max-width: 1200px) {
			text-align: center;
		}
		@media (max-width: 767px) {
			text-align: left;
			margin: 20px 0;
		}
		li {
			margin: 5px 0 5px 22px;

			@media (max-width: 767px) {
				margin: 5px 22px 5px 0;
			}
		}
	}
}