// Headers
$htag_family: $font__heading;
$htag_weight: 700;

// H tag sizes 1 through 6
$htag_sizes: 60px, 40px, 30px, 24px, 18px, 16px;
$htag_lineheights: 1.3em, 1.25em, 1.2em, 1.2em, 1.28em, 1.375em;

// H tag vertical margins 1 through 6
$htag_vmargins: 6px, 10px, 16px, 14px, 18px, 19px;

@mixin htags( $factor: 1 ){
	@for $i from 1 through 6 {
		h#{$i},
		.h#{$i}-style {
			$size_value: nth($htag_sizes, $i);
			$height_value: nth($htag_lineheights, $i);
			font-size: $size_value;
			line-height: $height_value;
			font-family: $htag_family;
			font-weight: $htag_weight;
		}
		h#{$i},
		.h#{$i}-style {
			margin: nth($htag_vmargins, $i) 0;
		}
	}
}

@include htags();