$color__white: 					#fff;
$color__dark-blue: 				#303043;
$color__orange: 				#fe7545;

$color__background-body:		#f5f5f5;
$color__background-hr: 			#d3d3d8;
$color__background-button:		$color__orange;
$color__background-pre: 		#f5f5f5;
$color__background-ins: 		#f5f5f5;

$color__text-input: 			$color__dark-blue;
$color__text-input-focus: 		$color__dark-blue;
$color__link: 					$color__orange;
$color__link-visited: 			$color__orange;
$color__link-hover: 			$color__dark-blue;
$color__text-main: 				$color__dark-blue;
$color__text-gray: 				#aeaebe;

$color__text-button: 			$color__white;
$color__border-button: 			transparent;
$color__border-button-hover: 	transparent;
$color__border-button-focus: 	transparent;
$color__border-input: 			#d3d3d8;
$color__border-abbr: 			$color__dark-blue;
$color__forms-background: 		#f3f3f3;