input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	max-width: 100%;
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 0;
	background: $color__forms-background;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 0 19px;
	line-height: 50px;
	height: 50px;
	padding-bottom: 1px;
}

textarea {
	padding: 10px 15px;
	width: 100%;
	resize: vertical;
}

/* Top panel */
.search-form-header {
	text-align: right;
	display: inline-block;
	vertical-align: bottom;

	@media (max-width: 767px) {
		display: block;
	}
	.search-field,
	.search-submit {
		display: inline-block;
		vertical-align: bottom;
		line-height: 30px;
		height: 30px;
	}
	.search-field {
		background: none;
		border: none;
		width: 118px;
		padding: 0 10px;
		max-width: 100%;


		@media (max-width: 992px) {
			text-align: left;
		}
		@media (max-width: 767px) {
			width: 80px;
		}
		&:focus,
		&:hover {
			background: $color__background-body;
		}
	}
	div {
		display: inline-block;
		vertical-align: middle;
	}
	.search-submit {
		background: none;
		border: none;
		padding: 0;
		margin: 0;

		i {
			font-size: 15px;
			line-height: inherit;
		
		}
	}
}
.search-form {
	display: flex;
	min-width: 1px;

	* {
		box-sizing: border-box;
	}
	label,
	.search-submit {
		min-width: 1px;
	}
	label {
		flex: 5 1 auto;

		input {
			width: 100%;
			text-align: left;
			font-style: italic;
		}
	}
	.search-submit {
		flex: 0 0 auto;
		font-style: italic;
		text-align: center;
	}
}
.widget_search {
	display: block;

	@media (min-width: 992px) {
		display: flex;
		align-items: center;

		.widget-title {
			margin: 0 30px 0 0;

			.col-lg-1 &,
			.col-lg-2 &,
			.col-lg-3 &,
			.col-lg-4 &,
			.col-md-1 &,
			.col-md-2 &,
			.col-md-3 &,
			.col-md-4 &,
			.col-sm-1 &,
			.col-sm-2 &,
			.col-sm-3 &,
			.col-sm-4 &,
			.col-xs-1 &,
			.col-xs-2 &,
			.col-xs-3 &,
			.col-xs-4 & {
				margin: 0 0 25px;
			}
		}
		.search-form {
			flex: 1 1 auto;
		}
		.col-lg-1 &,
		.col-lg-2 &,
		.col-lg-3 &,
		.col-lg-4 &,
		.col-md-1 &,
		.col-md-2 &,
		.col-md-3 &,
		.col-md-4 &,
		.col-sm-1 &,
		.col-sm-2 &,
		.col-sm-3 &,
		.col-sm-4 &,
		.col-xs-1 &,
		.col-xs-2 &,
		.col-xs-3 &,
		.col-xs-4 & {
			display: block;
		}
	}
}

/* Comment form  */
.comment-respond {
	margin-top: 6px;
	padding: 17px 0 0;
	border-top: 1px solid $color__background-hr;

	@media (max-width: 767px) {
		padding: 15px 0 0;
	}
	.comment-reply-title {
		margin: 0 0 13px;
	}
	.comment & {
		padding: 23px 0;

		@media (max-width: 767px) {
			padding: 15px 0;
		}
	}
}
.comment-form {
	div.label {
		margin: 0 0 5px;

		em {
			font-weight: normal;
			margin: 0;
		}
	}
	.comment-form{
		&-author {
			margin: 17px 0 21px;

			@media (max-width: 767px) {
				margin: 10px 0;
			}
		}
		&-email,
		&-url {
			margin: 0 0 21px;

			@media (max-width: 767px) {
				margin: 0 0 10px;
			}
		}
		&-comment {
			margin: 0 0 29px;

			@media (max-width: 767px) {
				margin: 0 0 10px;
			}
			textarea {
				min-height: 271px;
			}
		}
	}
	.form-submit {
		margin: 0 0 10px;
	}
	input {
		&:not([type*='submit']) {
			width: 100%;
		}
		&[type*='submit'] {
			margin: 0;
		}
	}
}

input[placeholder] {
	opacity: 1;
}
input::-moz-placeholder{
	opacity: 1;
} 
input:-moz-placeholder {
	opacity: 1;
} 
input:-ms-input-placeholder {
	opacity: 1;	
}
textarea[placeholder] {
	opacity: 1;
}
textarea::-moz-placeholder{
	opacity: 1;
} 
textarea:-moz-placeholder {
	opacity: 1;
} 
textarea:-ms-input-placeholder {
	opacity: 1;	
}    
