@import "buttons";

@import "fields";

.theme-form {
	label {
		input[type="text"],
		input[type="email"] {
			display: block;
			width: 100%;
		}
		em {
			display: inline-block;
			margin: 0 0 5px;
			font-weight: normal;
		}
	}
	&_submit {
		margin: 10px 0 0;
	}
}