@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,900);

/* Variables */
$white-color: 		#ffffff;
$border-color: 		#e5e5e5;
$accent-color: 		#298ffc;
$success-color: 	#48c569;
$warning-color: 	#e54343;
$gray-color-1: 		#96989a;
$gray-color-2: 		#f1f1f1;
$gray-color-3: 		#495159;
$gray-color-4: 		#b4b7ba;
$heading-color: 	#23282d;
$box-shadow: 		4px 7px 21px 0px rgba(0, 0, 0, 0.1);

/* Mixins */
@mixin font-awesome-icon() {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
@mixin button() {
	border: none;
	box-shadow: $box-shadow;
	text-shadow: none;
	color: $white-color;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1;
	padding: 19px 20px;
	height: auto;
	background: $accent-color;
	border-radius: 2px;
	transition: 300ms all;

	&:hover {
		background: darken($accent-color, 10%);
	}
}
