.cherry-settings-page {
	p.submit {
		display: inline;
	}

	.block-reset {
		display: inline;

		.reset-default-page {
			width: 120px;
			height: 26px;

			&:after {
				content: ' ';
				clear: both;
				height: 1px;
				width: 100%;
			}
		}

		.button-warning {
			background: #c00;
			color: #fff;
			border-color: #F30101;
			&:active {
				background: #fff;
				color: #c00;
			}
		}

	}
}