@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,900);

/* Variables */
$white-color: 		#ffffff;
$border-color: 		#e5e5e5;
$accent-color: 		#298ffc;
$success-color: 	#48c569;
$warning-color: 	#e54343;
$gray-color-1: 		#96989a;
$gray-color-2: 		#f1f1f1;
$gray-color-3: 		#495159;
$gray-color-4: 		#b4b7ba;
$box-shadow: 		4px 7px 21px 0px rgba(0, 0, 0, 0.1);

/* Mixins */
@mixin font-awesome-icon() {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
@mixin button() {
	border: none;
	box-shadow: $box-shadow;
	text-shadow: none;
	color: $white-color;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1;
	padding: 20px;
	height: auto;
	background: $accent-color;
	border-radius: 2px;
	transition: 300ms all;

	&:hover {
		background: darken($accent-color, 10%);
	}
}

/* Styles */
.property_page_cherry-property-settings {
	a {
		&:focus,
		&:active {
			border: none;
			box-shadow: none;
		}
	}
	.cherry-settings-page {
		> h2 {
			padding: 0 0 20px;
			font-weight: bold;
			font-size: 30px;
		}

		.cherry-settings-tabs {
			.tabs-section {
				padding: 20px 0 0;
				border-bottom: 1px solid $border-color;

				a {
					margin: 0 0 -1px;
					padding: 0 22px 25px 22px;
					border: none;
					background: none;
					text-transform: uppercase;
					color: $gray-color-1;
					font-weight: bold;
					position: relative;
					display: inline-block;

					& + a {
						margin-left: 1px;
					}
					&:after {
						content: '';
						width: 100%;
						height: 3px;
						background: $accent-color;
						position: absolute;
						bottom: 0;
						left: 0;
						transition: 300ms all cubic-bezier(.54,-0.36,.46,1.31);
						transform: scale(0, 1);
					}
					&.nav-tab-active,
					&:hover {
						color: $accent-color;

						&:after {
							transform: scale(1, 1);
						}
					}
				}
			}

			> div {
				padding: 30px 30px 38px;
				margin: 30px 0 0;
				border-radius: 7px;
				border: 2px solid $border-color;
				background: $gray-color-2;

				form {
					> h2 {
						margin: 0;
						padding: 14px 20px;
						background: $white-color;
						border-radius: 5px 5px 0 0;
						border-bottom: 1px solid $border-color;
						box-shadow: $box-shadow;
					}
					.form-table {
						margin: 0 0 30px;
						background: $white-color;
						border-radius: 0 0 5px 5px;
						padding: 0 0 30px;
						box-shadow: $box-shadow;

						th {
							padding: 0 20px 0 30px;
							vertical-align: middle;
						}
						td {
							padding: 0 30px 0 0;

							.cherry-ui-container {
								margin: 0;
							}
						}
						tbody {
							tr {
								th,
								td {
									padding-top: 10px;
									padding-bottom: 10px;
								}
							}
							tr:first-child {
								th,
								td {
									padding-top: 30px;
								}
							}
							tr:last-child {
								th,
								td {
									padding-bottom: 30px;
								}
							}
						}
						.cherry-ui-text,
						.cherry-ui-select {
							border: none;
							box-shadow: none;
							height: 50px;
							line-height: 50px;
							padding: 0 20px;
							background: $gray-color-2;
							border-radius: 2px;
						}
					}
					p.submit,
					.block-reset {
						margin: 0;
						padding: 0;
						display: inline-block;
						vertical-align: top;

						.button {
							@include button();
						}
					}
					p.submit {
						.button {
							background: $success-color;

							&:hover {
								background: darken($success-color, 10%);
							}
						}
						& + .block-reset {
							margin-left: 25px;
						}
					}
					.block-reset {
						.button {
							width: auto;
							background: $warning-color;

							&:hover {
								background: darken($warning-color, 10%);
							}
						}
					}
				}
			}
		}
	}
}

// Edit page
.post-type-property {
	#poststuff {
		/*#post-body.columns-2 {
			margin: 0;

			#post-body-content {
				float: none;
			}
			#postbox-container-1 {
				margin: 0;
				width: 100%;
				float: none;

				#side-sortables {
					width: 100%;
					min-height: inherit;
				}
			}
		}*/
	}
	#wpbody-content {
		background: $white-color;
		margin: 20px 0 50px;
		border: 1px solid $border-color;
		border-right: none;
		padding: 40px 50px 50px;
		box-sizing: border-box;

		.wrap {
			margin: 0;

			> h1 {
				padding: 0 0 10px;
				font-size: 30px;
				font-weight: bold;
			}
			> form {
				padding: 30px 30px 38px;
				margin: 30px 0 0;
				border-radius: 7px;
				border: 2px solid $border-color;
				background: $gray-color-2;
			}
		}

		.meta-box-sortables {
			.postbox {
				box-shadow: $box-shadow;
				border: none;
				border-radius: 5px;
				overflow: hidden;

				h2.hndle {
					font-weight: 600;
					font-size: 16px;
					padding: 14px 20px;
				}
				.inside {
					padding: 30px;
					margin: 0;

					// Submit box
					.submitbox {
						#minor-publishing {
							#minor-publishing-actions {
								padding: 20px 30px 0;
							}
							#misc-publishing-actions {
								padding: 20px 0;

								> div {
									padding-left: 30px;
									padding-right: 30px;
								}
							}
						}
						#major-publishing-actions {
							padding: 20px 30px;
						}
					}
				}
			}
		}

		#post-body-content,
		.postbox-container {
			.button,
			.submitdelete {
				@include button();

				&:hover {
					background: darken($accent-color, 10%);
				}
				&.button-primary {
					background: $success-color;

					&:hover {
						background: darken($success-color, 10%);
					}
				}
				&.edit-slug {
					padding: 8px 10px;
				}
				&.edit-slug,
				&.insert-media {
					background: $gray-color-3;

					.wp-media-buttons-icon:before {
						color: $white-color;
					}
					&:hover {
						background: darken($gray-color-3, 10%);
					}
				}
			}
			#delete-action {
				.submitdelete {
					display: inline-block !important;
					background: $warning-color;

					&:hover {
						background: darken($warning-color, 10%);
					}
				}
			}
		}

		.postbox, 
		.stuffbox {
			margin: 0 0 30px;
		}

		#titlediv {
			background: $white-color;
			padding: 30px;
			box-shadow: $box-shadow;
			border-radius: 5px;
			margin: 0 0 30px;

			#title {
				border: none;
				box-shadow: none;
				height: 50px;
				line-height: 50px;
				padding: 0 20px;
				background: $gray-color-2;
				border-radius: 2px;
			}
			#title-prompt-text {
				padding: 16px 20px;
			}
			#edit-slug-box {
				min-height: inherit;
				margin: 0;

				&:not(:empty) {
					margin-top: 5px;
				}
			}
		}

		#postdivrich {
			background: $white-color;
			padding: 30px;
			box-shadow: $box-shadow;
			border-radius: 5px;

			#wp-content-editor-tools {
				background: none;
				padding: 0;
				display: flex;
				justify-content: space-between;
				width: 100%;
				align-items: flex-end;

				.wp-media-buttons {
					padding: 0 0 50px;
					flex: 1;
				}
				.wp-editor-tabs {
				}
			}
		}

		#cherry-post-metabox {
			.inside {
				.form-table {
					th {
						vertical-align: middle;
					}
					td {
						.cherry-ui-container {
							margin: 0;
						}
					}
					tbody {
						tr {
							th,
							td {
								padding-top: 10px;
								padding-bottom: 10px;
							}
						}
					}
					.cherry-ui-text,
					.cherry-ui-select {
						border: none;
						box-shadow: none;
						height: 50px;
						line-height: 50px;
						padding: 0 20px;
						background: $gray-color-2;
						border-radius: 2px;
					}
					.cherry-infinite-container {
						.cherry-infinite {
							background: none;
							display: block;

							.cherry-infinite-row {
								border: none;
								display: inline-block;
								background: none;

								.cherry-infinite-order {
									border: none;
									background: none;
									display: block;
									padding: 0;
									width: 100%;
									text-align: left;

									span {
										padding: 0;
									}
								}
								.cherry-infinite-inner {
									background: none;
									box-shadow: none;
									padding: 0 !important;

									table {
										display: block;

										tbody {
											tr:first-child {
												display: none;
											}
											tr {
												th,
												td {
													display: block;
													padding: 0;
												}
											}
										}
									}
								}
								.cherry-infinite-options {
									border: none;

									.cherry-infinite-remove {
										background: none;

										&:after {
											@include font-awesome-icon();
											font-size: 20px;
											content: '\f1f8';
											color: $gray-color-4;
										}
										&:hover {
											&:after {
												color: $accent-color;
											}
										}
									}
									.cherry-infinite-add {
										visibility: hidden;
										display: none;
									}
								}
							}
						}
						.cherry-infinite-add-field-container {
							.button-primary {
								@include button();
								background: $gray-color-3;

								&:hover {
									background: darken($gray-color-3, 10%);
								}
							}
						}
					}
				}
			}
		}
	}
}