@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,900);
/* Variables */
/* Mixins */
/* Styles */
.post-type-property #poststuff {
  /*#post-body.columns-2 {
			margin: 0;

			#post-body-content {
				float: none;
			}
			#postbox-container-1 {
				margin: 0;
				width: 100%;
				float: none;

				#side-sortables {
					width: 100%;
					min-height: inherit;
				}
			}
		}*/
}

.post-type-property #wpbody-content {
  background: #ffffff;
  margin: 20px 0 50px;
  border: 1px solid #e5e5e5;
  border-right: none;
  padding: 40px 50px 50px;
  box-sizing: border-box;
}

.post-type-property #wpbody-content .wrap {
  margin: 0;
}

.post-type-property #wpbody-content .wrap > h1 {
  padding: 0 0 10px;
  font-size: 30px;
  font-weight: bold;
}

.post-type-property #wpbody-content .wrap > form {
  padding: 30px 30px 38px;
  margin: 30px 0 0;
  border-radius: 7px;
  border: 2px solid #e5e5e5;
  background: #f1f1f1;
}

.post-type-property #wpbody-content .meta-box-sortables .postbox {
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  overflow: hidden;
}

.post-type-property #wpbody-content .meta-box-sortables .postbox h2.hndle {
  font-weight: 600;
  font-size: 16px;
  padding: 14px 20px;
}

.post-type-property #wpbody-content .meta-box-sortables .postbox .inside {
  padding: 30px;
  margin: 0;
}

.post-type-property #wpbody-content .meta-box-sortables .postbox .inside .submitbox #minor-publishing #minor-publishing-actions {
  padding: 20px 30px 0;
}

.post-type-property #wpbody-content .meta-box-sortables .postbox .inside .submitbox #minor-publishing #misc-publishing-actions {
  padding: 20px 0;
}

.post-type-property #wpbody-content .meta-box-sortables .postbox .inside .submitbox #minor-publishing #misc-publishing-actions > div {
  padding-left: 30px;
  padding-right: 30px;
}

.post-type-property #wpbody-content .meta-box-sortables .postbox .inside .submitbox #major-publishing-actions {
  padding: 20px 30px;
}

.post-type-property #wpbody-content #post-body-content .button,
.post-type-property #wpbody-content #post-body-content .submitdelete,
.post-type-property #wpbody-content .postbox-container .button,
.post-type-property #wpbody-content .postbox-container .submitdelete {
  border: none;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 20px;
  height: auto;
  background: #298ffc;
  border-radius: 2px;
  transition: 300ms all;
}

.post-type-property #wpbody-content #post-body-content .button:hover,
.post-type-property #wpbody-content #post-body-content .submitdelete:hover,
.post-type-property #wpbody-content .postbox-container .button:hover,
.post-type-property #wpbody-content .postbox-container .submitdelete:hover {
  background: #0375ef;
}

.post-type-property #wpbody-content #post-body-content .button:hover,
.post-type-property #wpbody-content #post-body-content .submitdelete:hover,
.post-type-property #wpbody-content .postbox-container .button:hover,
.post-type-property #wpbody-content .postbox-container .submitdelete:hover {
  background: #0375ef;
}

.post-type-property #wpbody-content #post-body-content .button.button-primary,
.post-type-property #wpbody-content #post-body-content .submitdelete.button-primary,
.post-type-property #wpbody-content .postbox-container .button.button-primary,
.post-type-property #wpbody-content .postbox-container .submitdelete.button-primary {
  background: #48c569;
}

.post-type-property #wpbody-content #post-body-content .button.button-primary:hover,
.post-type-property #wpbody-content #post-body-content .submitdelete.button-primary:hover,
.post-type-property #wpbody-content .postbox-container .button.button-primary:hover,
.post-type-property #wpbody-content .postbox-container .submitdelete.button-primary:hover {
  background: #34a652;
}

.post-type-property #wpbody-content #post-body-content .button.edit-slug,
.post-type-property #wpbody-content #post-body-content .submitdelete.edit-slug,
.post-type-property #wpbody-content .postbox-container .button.edit-slug,
.post-type-property #wpbody-content .postbox-container .submitdelete.edit-slug {
  padding: 8px 10px;
}

.post-type-property #wpbody-content #post-body-content .button.edit-slug, .post-type-property #wpbody-content #post-body-content .button.insert-media,
.post-type-property #wpbody-content #post-body-content .submitdelete.edit-slug,
.post-type-property #wpbody-content #post-body-content .submitdelete.insert-media,
.post-type-property #wpbody-content .postbox-container .button.edit-slug,
.post-type-property #wpbody-content .postbox-container .button.insert-media,
.post-type-property #wpbody-content .postbox-container .submitdelete.edit-slug,
.post-type-property #wpbody-content .postbox-container .submitdelete.insert-media {
  background: #495159;
}

.post-type-property #wpbody-content #post-body-content .button.edit-slug .wp-media-buttons-icon:before, .post-type-property #wpbody-content #post-body-content .button.insert-media .wp-media-buttons-icon:before,
.post-type-property #wpbody-content #post-body-content .submitdelete.edit-slug .wp-media-buttons-icon:before,
.post-type-property #wpbody-content #post-body-content .submitdelete.insert-media .wp-media-buttons-icon:before,
.post-type-property #wpbody-content .postbox-container .button.edit-slug .wp-media-buttons-icon:before,
.post-type-property #wpbody-content .postbox-container .button.insert-media .wp-media-buttons-icon:before,
.post-type-property #wpbody-content .postbox-container .submitdelete.edit-slug .wp-media-buttons-icon:before,
.post-type-property #wpbody-content .postbox-container .submitdelete.insert-media .wp-media-buttons-icon:before {
  color: #ffffff;
}

.post-type-property #wpbody-content #post-body-content .button.edit-slug:hover, .post-type-property #wpbody-content #post-body-content .button.insert-media:hover,
.post-type-property #wpbody-content #post-body-content .submitdelete.edit-slug:hover,
.post-type-property #wpbody-content #post-body-content .submitdelete.insert-media:hover,
.post-type-property #wpbody-content .postbox-container .button.edit-slug:hover,
.post-type-property #wpbody-content .postbox-container .button.insert-media:hover,
.post-type-property #wpbody-content .postbox-container .submitdelete.edit-slug:hover,
.post-type-property #wpbody-content .postbox-container .submitdelete.insert-media:hover {
  background: #32373d;
}

.post-type-property #wpbody-content #post-body-content #delete-action .submitdelete,
.post-type-property #wpbody-content .postbox-container #delete-action .submitdelete {
  display: inline-block !important;
  background: #e54343;
}

.post-type-property #wpbody-content #post-body-content #delete-action .submitdelete:hover,
.post-type-property #wpbody-content .postbox-container #delete-action .submitdelete:hover {
  background: #d71e1e;
}

.post-type-property #wpbody-content .postbox,
.post-type-property #wpbody-content .stuffbox {
  margin: 0 0 30px;
}

.post-type-property #wpbody-content #titlediv {
  background: #ffffff;
  padding: 30px;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 0 30px;
}

.post-type-property #wpbody-content #titlediv #title {
  border: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 2px;
}

.post-type-property #wpbody-content #titlediv #title-prompt-text {
  padding: 16px 20px;
}

.post-type-property #wpbody-content #titlediv #edit-slug-box {
  min-height: inherit;
  margin: 0;
}

.post-type-property #wpbody-content #titlediv #edit-slug-box:not(:empty) {
  margin-top: 5px;
}

.post-type-property #wpbody-content #postdivrich {
  background: #ffffff;
  padding: 30px;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.post-type-property #wpbody-content #postdivrich #wp-content-editor-tools {
  background: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

.post-type-property #wpbody-content #postdivrich #wp-content-editor-tools .wp-media-buttons {
  padding: 0 0 50px;
  flex: 1;
}

.post-type-property #wpbody-content #postexcerpt textarea {
  background: #f1f1f1;
  border-radius: 2px;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 15px 20px;
  height: 6em;
}

.post-type-property #wpbody-content #commentstatusdiv .meta-options {
  margin: 0;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table th {
  vertical-align: middle;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table td .cherry-ui-container {
  margin: 0;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table tbody tr th,
.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table tbody tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-ui-text,
.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-ui-select {
  border: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 2px;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite {
  background: none;
  display: block;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row {
  border: none;
  display: inline-block;
  background: none;
  padding: 10px 10px 10px 0;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-order {
  border: none;
  background: none;
  display: block;
  padding: 0;
  width: 100%;
  text-align: left;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-order span {
  padding: 0;
  font-weight: normal;
  color: #23282d;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner {
  background: none;
  box-shadow: none;
  padding: 0 !important;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner table {
  display: block;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner table tbody tr:first-child {
  display: none;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner table tbody tr th,
.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner table tbody tr td {
  display: block;
  padding: 0;
  width: auto;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner table tbody tr th label,
.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner table tbody tr td label {
  display: none;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner .cherry-image-wrap .inner {
  margin: 0;
  border: none;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner .cherry-image-wrap .inner .cherry-remove-image {
  display: none;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner .cherry-image-wrap .inner .title {
  display: none;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner .upload-button {
  border: none;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 20px;
  height: auto;
  background: #298ffc;
  border-radius: 2px;
  transition: 300ms all;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner .upload-button:hover {
  background: #0375ef;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-options {
  border: none;
  padding: 0;
  vertical-align: top;
  text-align: left;
  width: auto !important;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-options .cherry-infinite-remove {
  background: none;
  margin: 0;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-options .cherry-infinite-remove:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  content: '\f1f8';
  color: #b4b7ba;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-options .cherry-infinite-remove:hover:after {
  color: #298ffc;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-options .cherry-infinite-add {
  visibility: hidden;
  display: none;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite-add-field-container .button-primary {
  border: none;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 20px;
  height: auto;
  background: #298ffc;
  border-radius: 2px;
  transition: 300ms all;
  background: #495159;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite-add-field-container .button-primary:hover {
  background: #0375ef;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite-add-field-container .button-primary:hover {
  background: #32373d;
}
