@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,900);
/* Variables */
/* Mixins */
/* Styles */
.post-type-property * {
  box-sizing: border-box;
}

.post-type-property a {
  color: #298ffc;
}

.post-type-property a:hover {
  color: #23282d;
}

.post-type-property a:hover, .post-type-property a:active, .post-type-property a:focus {
  border: none;
  box-shadow: none;
}

.post-type-property #screen-meta {
  margin: 0 0 30px;
  border-radius: 7px;
  border: 2px solid #e5e5e5;
  background: #f1f1f1;
  padding: 30px;
}

.post-type-property #screen-meta-links {
  position: absolute;
  top: 0;
  right: 50px;
  margin: 0;
}

.post-type-property #screen-meta-links .button {
  border: none;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 19px 20px;
  height: auto;
  background: #298ffc;
  border-radius: 2px;
  transition: 300ms all;
  padding: 5px 5px 5px 10px;
  border-radius: 0 0 2px 2px;
  background: #495159;
  line-height: 1.7;
}

.post-type-property #screen-meta-links .button:hover {
  background: #0375ef;
}

.post-type-property #screen-meta-links .button:active {
  margin: 0;
  top: 0;
  border: none;
  box-shadow: none;
  transform: none;
}

.post-type-property #screen-meta-links .button:after {
  color: #ffffff;
  padding: 0;
}

.post-type-property #screen-meta-links .button:hover {
  background: #32373d;
}

.post-type-property #screen-options-wrap {
  padding: 0;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.post-type-property #screen-options-wrap .view-mode,
.post-type-property #screen-options-wrap .columns-prefs {
  display: none;
}

.post-type-property #screen-options-wrap .submit {
  margin: 20px 0 0;
}

.post-type-property #screen-options-wrap .button {
  border: none;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 19px 20px;
  height: auto;
  background: #298ffc;
  border-radius: 2px;
  transition: 300ms all;
  background: #48c569;
}

.post-type-property #screen-options-wrap .button:hover {
  background: #0375ef;
}

.post-type-property #screen-options-wrap .button:active {
  margin: 0;
  top: 0;
  border: none;
  box-shadow: none;
  transform: none;
}

.post-type-property #screen-options-wrap .button:hover {
  background: #34a652;
}

.post-type-property #message {
  margin: 30px 0;
  padding: 10px 15px;
  border: none;
  box-shadow: none;
  background: #f1f1f1;
}

.post-type-property #message p {
  border: none;
  padding: 0;
  margin: 0;
  color: #23282d;
}

.post-type-property #message p a {
  color: #23282d;
}

.post-type-property #message p a:hover {
  color: #96989a;
}

.post-type-property #message.updated {
  background: #ecf9f0;
}

.post-type-property #message.updated p {
  color: #48c569;
}

.post-type-property #message.updated p:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  content: '\f05a';
}

.post-type-property #message.updated p a {
  color: #48c569;
}

.post-type-property #message.updated p a:hover {
  color: #23282d;
}

.post-type-property #message.error {
  background: #fbcdcd;
}

.post-type-property #message.error p {
  color: #e54343;
}

.post-type-property #message.error p a {
  color: #e54343;
}

.post-type-property #message.error p a:hover {
  color: #23282d;
}

.post-type-property #message.error .notice-dismiss:before {
  color: #ffffff;
}

.post-type-property #message.error .notice-dismiss:hover:before {
  color: #23282d;
}

.post-type-property #message.notice.notice-warning {
  border-left: 5px solid #e54343;
}

.post-type-property .page-title-action {
  border: none;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 19px 20px;
  height: auto;
  background: #298ffc;
  border-radius: 2px;
  transition: 300ms all;
  display: inline-block;
  background: #48c569;
  top: 0;
  margin: 0;
}

.post-type-property .page-title-action:hover {
  background: #0375ef;
}

.post-type-property .page-title-action:active {
  margin: 0;
  top: 0;
  border: none;
  box-shadow: none;
  transform: none;
}

.post-type-property .page-title-action:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  content: '\f067';
}

.post-type-property .page-title-action:hover {
  background: #34a652;
}

.post-type-property ul.subsubsub {
  float: none;
  border-bottom: 1px solid #e5e5e5;
}

.post-type-property ul.subsubsub li {
  font-size: 0;
}

.post-type-property ul.subsubsub li a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #96989a;
  display: inline-block;
  padding: 0 22px 25px 22px;
  position: relative;
}

.post-type-property ul.subsubsub li a + a {
  margin-left: 1px;
}

.post-type-property ul.subsubsub li a:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #298ffc;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 300ms all cubic-bezier(0.54, -0.36, 0.46, 1.31);
  transform: scale(0, 1);
}

.post-type-property ul.subsubsub li a .count {
  color: inherit;
  font-weight: bold;
}

.post-type-property ul.subsubsub li a.current, .post-type-property ul.subsubsub li a:hover {
  color: #298ffc;
}

.post-type-property ul.subsubsub li a.current:after, .post-type-property ul.subsubsub li a:hover:after {
  transform: scale(1, 1);
}

.post-type-property ul.subsubsub li a:active {
  border: none;
  box-shadow: none;
}

.post-type-property #posts-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-type-property #posts-filter > .screen-reader-text {
  flex: 0;
  display: none;
}

.post-type-property #posts-filter .wp-list-table,
.post-type-property #posts-filter .tablenav.bottom {
  flex: 1 0 100%;
  max-width: 100%;
}

.post-type-property #posts-filter .tablenav.top {
  order: 1;
}

.post-type-property #posts-filter .search-box {
  order: 2;
}

.post-type-property #posts-filter .wp-list-table {
  order: 3;
}

.post-type-property #posts-filter .tablenav.bottom {
  order: 4;
}

.post-type-property .search-box {
  margin: 30px 0 0;
}

.post-type-property .search-box input[type="search"] {
  border: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 2px;
}

.post-type-property .search-box .button {
  border: none;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 19px 20px;
  height: auto;
  background: #298ffc;
  border-radius: 2px;
  transition: 300ms all;
  margin: 0 0 0 10px;
  background: #495159;
}

.post-type-property .search-box .button:hover {
  background: #0375ef;
}

.post-type-property .search-box .button:active {
  margin: 0;
  top: 0;
  border: none;
  box-shadow: none;
  transform: none;
}

.post-type-property .search-box .button:hover {
  background: #32373d;
}

.post-type-property .tablenav {
  height: auto;
  margin: 30px 0 0;
}

.post-type-property .tablenav select {
  margin: 0 10px 0 0;
  padding: 0;
  border: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 2px;
}

.post-type-property .tablenav .button {
  border: none;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 19px 20px;
  height: auto;
  background: #298ffc;
  border-radius: 2px;
  transition: 300ms all;
  background: #495159;
}

.post-type-property .tablenav .button:hover {
  background: #0375ef;
}

.post-type-property .tablenav .button:active {
  margin: 0;
  top: 0;
  border: none;
  box-shadow: none;
  transform: none;
}

.post-type-property .tablenav .button:hover {
  background: #32373d;
}

.post-type-property .tablenav .actions {
  overflow: visible;
  padding-top: 0;
  padding-right: 20px;
}

.post-type-property .tablenav .tablenav-pages {
  margin-top: 10px;
  margin-left: 0;
}

.post-type-property .wp-list-table {
  padding: 0;
  border-spacing: 0;
  margin: 30px 0 0;
  border-radius: 7px;
  border: 2px solid #e5e5e5;
  background: #f1f1f1;
  overflow: hidden;
  display: block;
}

.post-type-property .wp-list-table thead,
.post-type-property .wp-list-table tbody,
.post-type-property .wp-list-table tfoot {
  display: block;
  width: 100%;
}

.post-type-property .wp-list-table thead tr,
.post-type-property .wp-list-table tbody tr,
.post-type-property .wp-list-table tfoot tr {
  display: flex;
  justify-content: space-between;
}

.post-type-property .wp-list-table thead tr > *,
.post-type-property .wp-list-table tbody tr > *,
.post-type-property .wp-list-table tfoot tr > * {
  display: block;
  width: auto;
}

.post-type-property .wp-list-table tbody {
  padding: 0 30px;
  margin: 30px 0;
}

.post-type-property .wp-list-table tbody tr {
  flex-wrap: wrap;
  padding: 0 20px 30px;
  margin: 0 0 30px;
}

.post-type-property .wp-list-table tbody .check-column {
  padding: 20px 0;
}

.post-type-property .wp-list-table tbody .check-column span {
  left: 0;
  top: 19px;
}

.post-type-property .wp-list-table tbody .column-title,
.post-type-property .wp-list-table tbody .column-name {
  flex: 1;
  padding: 20px 0 16px 20px;
  display: flex;
  align-items: center;
}

.post-type-property .wp-list-table tbody .column-title strong,
.post-type-property .wp-list-table tbody .column-name strong {
  flex: 1;
  margin: 0;
}

.post-type-property .wp-list-table tbody .column-title .row-actions,
.post-type-property .wp-list-table tbody .column-name .row-actions {
  left: 0;
  padding: 5px 0 0;
}

.post-type-property .wp-list-table tbody .column-title .row-actions span,
.post-type-property .wp-list-table tbody .column-name .row-actions span {
  margin: 0 0 0 20px;
}

.post-type-property .wp-list-table tbody .column-author,
.post-type-property .wp-list-table tbody .column-taxonomy-property-type,
.post-type-property .wp-list-table tbody .column-taxonomy-property-tag,
.post-type-property .wp-list-table tbody .column-taxonomy-location,
.post-type-property .wp-list-table tbody .column-comments,
.post-type-property .wp-list-table tbody .column-date,
.post-type-property .wp-list-table tbody .column-description,
.post-type-property .wp-list-table tbody .column-slug,
.post-type-property .wp-list-table tbody .column-posts {
  flex: 1 0 100%;
  position: relative;
  padding: 0 20px 0 10%;
  color: #96989a;
  text-align: left;
}

.post-type-property .wp-list-table tbody .column-author:not(:empty):before,
.post-type-property .wp-list-table tbody .column-taxonomy-property-type:not(:empty):before,
.post-type-property .wp-list-table tbody .column-taxonomy-property-tag:not(:empty):before,
.post-type-property .wp-list-table tbody .column-taxonomy-location:not(:empty):before,
.post-type-property .wp-list-table tbody .column-comments:not(:empty):before,
.post-type-property .wp-list-table tbody .column-date:not(:empty):before,
.post-type-property .wp-list-table tbody .column-description:not(:empty):before,
.post-type-property .wp-list-table tbody .column-slug:not(:empty):before,
.post-type-property .wp-list-table tbody .column-posts:not(:empty):before {
  content: attr(data-colname) ": ";
  display: inline-block;
  vertical-align: middle;
  min-width: 10%;
  padding-right: 20px;
  left: 0;
  top: 0;
  position: absolute;
  box-sizing: border-box;
  text-align: right;
  color: #23282d;
}

.post-type-property .wp-list-table tbody .column-author a,
.post-type-property .wp-list-table tbody .column-taxonomy-property-type a,
.post-type-property .wp-list-table tbody .column-taxonomy-property-tag a,
.post-type-property .wp-list-table tbody .column-taxonomy-location a,
.post-type-property .wp-list-table tbody .column-comments a,
.post-type-property .wp-list-table tbody .column-date a,
.post-type-property .wp-list-table tbody .column-description a,
.post-type-property .wp-list-table tbody .column-slug a,
.post-type-property .wp-list-table tbody .column-posts a {
  color: #96989a;
}

.post-type-property .wp-list-table tbody .column-author a:hover,
.post-type-property .wp-list-table tbody .column-taxonomy-property-type a:hover,
.post-type-property .wp-list-table tbody .column-taxonomy-property-tag a:hover,
.post-type-property .wp-list-table tbody .column-taxonomy-location a:hover,
.post-type-property .wp-list-table tbody .column-comments a:hover,
.post-type-property .wp-list-table tbody .column-date a:hover,
.post-type-property .wp-list-table tbody .column-description a:hover,
.post-type-property .wp-list-table tbody .column-slug a:hover,
.post-type-property .wp-list-table tbody .column-posts a:hover {
  color: #298ffc;
}

.post-type-property .wp-list-table tbody .column-author p,
.post-type-property .wp-list-table tbody .column-taxonomy-property-type p,
.post-type-property .wp-list-table tbody .column-taxonomy-property-tag p,
.post-type-property .wp-list-table tbody .column-taxonomy-location p,
.post-type-property .wp-list-table tbody .column-comments p,
.post-type-property .wp-list-table tbody .column-date p,
.post-type-property .wp-list-table tbody .column-description p,
.post-type-property .wp-list-table tbody .column-slug p,
.post-type-property .wp-list-table tbody .column-posts p {
  margin: 0;
  color: #96989a;
}

.post-type-property .wp-list-table tbody .column-author,
.post-type-property .wp-list-table tbody .column-description {
  padding-top: 20px;
}

.post-type-property .wp-list-table tbody .column-author:not(:empty):before,
.post-type-property .wp-list-table tbody .column-description:not(:empty):before {
  top: 20px;
}

.post-type-property .wp-list-table tbody .column-author:after,
.post-type-property .wp-list-table tbody .column-description:after {
  content: '';
  width: calc(100% + 60px);
  height: 1px;
  background: #e5e5e5;
  position: absolute;
  top: 0;
  left: -30px;
}

.post-type-property .wp-list-table thead,
.post-type-property .wp-list-table tfoot {
  background: #ffffff;
}

.post-type-property .wp-list-table thead td,
.post-type-property .wp-list-table thead th,
.post-type-property .wp-list-table tfoot td,
.post-type-property .wp-list-table tfoot th {
  border: none;
}

.post-type-property .wp-list-table thead .check-column,
.post-type-property .wp-list-table tfoot .check-column {
  padding: 20px 0 20px 20px;
}

.post-type-property .wp-list-table thead .check-column span,
.post-type-property .wp-list-table tfoot .check-column span {
  top: 19px;
  left: 19px;
}

.post-type-property .wp-list-table thead .column-title,
.post-type-property .wp-list-table thead .column-author,
.post-type-property .wp-list-table thead .column-taxonomy-property-type,
.post-type-property .wp-list-table thead .column-taxonomy-property-tag,
.post-type-property .wp-list-table thead .column-taxonomy-location,
.post-type-property .wp-list-table thead .column-comments,
.post-type-property .wp-list-table thead .column-date,
.post-type-property .wp-list-table thead .column-name,
.post-type-property .wp-list-table thead .column-description,
.post-type-property .wp-list-table thead .column-slug,
.post-type-property .wp-list-table thead .column-posts,
.post-type-property .wp-list-table tfoot .column-title,
.post-type-property .wp-list-table tfoot .column-author,
.post-type-property .wp-list-table tfoot .column-taxonomy-property-type,
.post-type-property .wp-list-table tfoot .column-taxonomy-property-tag,
.post-type-property .wp-list-table tfoot .column-taxonomy-location,
.post-type-property .wp-list-table tfoot .column-comments,
.post-type-property .wp-list-table tfoot .column-date,
.post-type-property .wp-list-table tfoot .column-name,
.post-type-property .wp-list-table tfoot .column-description,
.post-type-property .wp-list-table tfoot .column-slug,
.post-type-property .wp-list-table tfoot .column-posts {
  display: none;
}

.post-type-property .wp-list-table tbody tr {
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 5px;
}

.post-type-property .wp-list-table tbody tr.hidden {
  margin: 0;
  padding: 0;
}

.post-type-property .wp-list-table tbody tr.inline-editor {
  padding: 20px;
}

.post-type-property .wp-list-table tbody tr.no-items {
  padding: 20px;
}

.post-type-property .wp-list-table tbody .row-title {
  font-weight: bold;
}

.post-type-property .wp-list-table .check-column {
  width: 26px;
  height: 26px;
  padding: 10px 0 10px 10px;
  position: relative;
  box-sizing: content-box;
}

.post-type-property .wp-list-table .check-column label {
  display: block;
  position: relative;
  z-index: 100;
  width: 26px;
  height: 26px;
  text-indent: -9999px;
}

.post-type-property .wp-list-table .check-column span {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 26px;
  height: 26px;
  border-radius: 2px;
  background: #f1f1f1;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 10px 0 0;
  overflow: hidden;
}

.post-type-property .wp-list-table .check-column span:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f00c';
  color: #ffffff;
  line-height: 26px;
  opacity: 0;
  transform: scale(2);
  transition: 300ms all;
}

.post-type-property .wp-list-table .check-column [type="checkbox"]:not(:checked) {
  position: absolute;
  opacity: 0;
}

.post-type-property .wp-list-table .check-column [type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
}

.post-type-property .wp-list-table .check-column [type="checkbox"]:checked + span {
  background: #48c569;
}

.post-type-property .wp-list-table .check-column [type="checkbox"]:checked + span:after {
  opacity: 1;
  transform: scale(1);
}

.post-type-property .wp-list-table .row-actions span {
  font-size: 0;
  margin: 0 0 0 10px;
}

.post-type-property .wp-list-table .row-actions span:first-child {
  margin: 0;
}

.post-type-property .wp-list-table .row-actions span a:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #96989a;
  line-height: 1;
  transition: 300ms all;
  font-size: 15px;
}

.post-type-property .wp-list-table .row-actions span a:active, .post-type-property .wp-list-table .row-actions span a:focus {
  border: none;
  box-shadow: none;
}

.post-type-property .wp-list-table .row-actions span a:hover:after {
  color: #298ffc;
}

.post-type-property .wp-list-table .row-actions span.edit a:after {
  content: '\f040';
}

.post-type-property .wp-list-table .row-actions span.inline a:after {
  content: '\f044';
}

.post-type-property .wp-list-table .row-actions span.trash a:after, .post-type-property .wp-list-table .row-actions span.delete a:after {
  content: '\f1f8';
}

.post-type-property .wp-list-table .row-actions span.view a:after {
  content: '\f06e';
}

.post-type-property .wp-list-table .inline-editor select,
.post-type-property .wp-list-table .inline-editor textarea,
.post-type-property .wp-list-table .inline-editor input[type="text"] {
  border: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 2px;
  width: auto;
}

.post-type-property .wp-list-table .inline-editor textarea {
  width: 100%;
  height: 100px;
}

.post-type-property .wp-list-table .inline-editor button {
  border: none;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 19px 20px;
  height: auto;
  background: #298ffc;
  border-radius: 2px;
  transition: 300ms all;
}

.post-type-property .wp-list-table .inline-editor button:hover {
  background: #0375ef;
}

.post-type-property .wp-list-table .inline-editor button:active {
  margin: 0;
  top: 0;
  border: none;
  box-shadow: none;
  transform: none;
}

.post-type-property .wp-list-table .inline-editor button.cancel {
  background: #e54343;
}

.post-type-property .wp-list-table .inline-editor button.cancel:hover {
  background: #d71e1e;
}

.post-type-property .wp-list-table .inline-editor button.save {
  background: #48c569;
}

.post-type-property .wp-list-table .inline-editor button.save:hover {
  background: #34a652;
}

.post-type-property #wpbody-content {
  background: #ffffff;
  margin: 20px 0 50px;
  border: 1px solid #e5e5e5;
  border-right: none;
  padding: 40px 50px 50px;
  box-sizing: border-box;
  position: relative;
}

.post-type-property #wpbody-content .wrap {
  margin: 0;
}

.post-type-property #wpbody-content .wrap > h1 {
  padding: 0 0 10px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.post-type-property #wpbody-content .wrap > form:not(#posts-filter):not([method="get"]) {
  padding: 30px 30px 38px;
  margin: 30px 0 0;
  border-radius: 7px;
  border: 2px solid #e5e5e5;
  background: #f1f1f1;
}

.post-type-property #wpbody-content .meta-box-sortables .postbox {
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  overflow: hidden;
}

.post-type-property #wpbody-content .meta-box-sortables .postbox h2.hndle {
  font-weight: 600;
  font-size: 16px;
  padding: 14px 20px;
}

.post-type-property #wpbody-content .meta-box-sortables .postbox .inside {
  padding: 30px;
  margin: 0;
}

.post-type-property #wpbody-content .meta-box-sortables .postbox .inside .submitbox #minor-publishing #minor-publishing-actions {
  padding: 20px 30px 0;
}

.post-type-property #wpbody-content .meta-box-sortables .postbox .inside .submitbox #minor-publishing #misc-publishing-actions {
  padding: 20px 0;
}

.post-type-property #wpbody-content .meta-box-sortables .postbox .inside .submitbox #minor-publishing #misc-publishing-actions > div {
  padding-left: 30px;
  padding-right: 30px;
}

.post-type-property #wpbody-content .meta-box-sortables .postbox .inside .submitbox #major-publishing-actions {
  padding: 20px 30px;
}

.post-type-property #wpbody-content #post-body-content .button,
.post-type-property #wpbody-content #post-body-content .submitdelete,
.post-type-property #wpbody-content .postbox-container .button,
.post-type-property #wpbody-content .postbox-container .submitdelete {
  border: none;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 19px 20px;
  height: auto;
  background: #298ffc;
  border-radius: 2px;
  transition: 300ms all;
}

.post-type-property #wpbody-content #post-body-content .button:hover,
.post-type-property #wpbody-content #post-body-content .submitdelete:hover,
.post-type-property #wpbody-content .postbox-container .button:hover,
.post-type-property #wpbody-content .postbox-container .submitdelete:hover {
  background: #0375ef;
}

.post-type-property #wpbody-content #post-body-content .button:active,
.post-type-property #wpbody-content #post-body-content .submitdelete:active,
.post-type-property #wpbody-content .postbox-container .button:active,
.post-type-property #wpbody-content .postbox-container .submitdelete:active {
  margin: 0;
  top: 0;
  border: none;
  box-shadow: none;
  transform: none;
}

.post-type-property #wpbody-content #post-body-content .button:hover,
.post-type-property #wpbody-content #post-body-content .submitdelete:hover,
.post-type-property #wpbody-content .postbox-container .button:hover,
.post-type-property #wpbody-content .postbox-container .submitdelete:hover {
  background: #0375ef;
}

.post-type-property #wpbody-content #post-body-content .button.button-primary,
.post-type-property #wpbody-content #post-body-content .submitdelete.button-primary,
.post-type-property #wpbody-content .postbox-container .button.button-primary,
.post-type-property #wpbody-content .postbox-container .submitdelete.button-primary {
  background: #48c569;
}

.post-type-property #wpbody-content #post-body-content .button.button-primary:hover,
.post-type-property #wpbody-content #post-body-content .submitdelete.button-primary:hover,
.post-type-property #wpbody-content .postbox-container .button.button-primary:hover,
.post-type-property #wpbody-content .postbox-container .submitdelete.button-primary:hover {
  background: #34a652;
}

.post-type-property #wpbody-content #post-body-content .button.edit-slug,
.post-type-property #wpbody-content #post-body-content .submitdelete.edit-slug,
.post-type-property #wpbody-content .postbox-container .button.edit-slug,
.post-type-property #wpbody-content .postbox-container .submitdelete.edit-slug {
  padding: 8px 10px;
}

.post-type-property #wpbody-content #post-body-content .button.edit-slug, .post-type-property #wpbody-content #post-body-content .button.insert-media,
.post-type-property #wpbody-content #post-body-content .submitdelete.edit-slug,
.post-type-property #wpbody-content #post-body-content .submitdelete.insert-media,
.post-type-property #wpbody-content .postbox-container .button.edit-slug,
.post-type-property #wpbody-content .postbox-container .button.insert-media,
.post-type-property #wpbody-content .postbox-container .submitdelete.edit-slug,
.post-type-property #wpbody-content .postbox-container .submitdelete.insert-media {
  background: #495159;
}

.post-type-property #wpbody-content #post-body-content .button.edit-slug .wp-media-buttons-icon:before, .post-type-property #wpbody-content #post-body-content .button.insert-media .wp-media-buttons-icon:before,
.post-type-property #wpbody-content #post-body-content .submitdelete.edit-slug .wp-media-buttons-icon:before,
.post-type-property #wpbody-content #post-body-content .submitdelete.insert-media .wp-media-buttons-icon:before,
.post-type-property #wpbody-content .postbox-container .button.edit-slug .wp-media-buttons-icon:before,
.post-type-property #wpbody-content .postbox-container .button.insert-media .wp-media-buttons-icon:before,
.post-type-property #wpbody-content .postbox-container .submitdelete.edit-slug .wp-media-buttons-icon:before,
.post-type-property #wpbody-content .postbox-container .submitdelete.insert-media .wp-media-buttons-icon:before {
  color: #ffffff;
}

.post-type-property #wpbody-content #post-body-content .button.edit-slug:hover, .post-type-property #wpbody-content #post-body-content .button.insert-media:hover,
.post-type-property #wpbody-content #post-body-content .submitdelete.edit-slug:hover,
.post-type-property #wpbody-content #post-body-content .submitdelete.insert-media:hover,
.post-type-property #wpbody-content .postbox-container .button.edit-slug:hover,
.post-type-property #wpbody-content .postbox-container .button.insert-media:hover,
.post-type-property #wpbody-content .postbox-container .submitdelete.edit-slug:hover,
.post-type-property #wpbody-content .postbox-container .submitdelete.insert-media:hover {
  background: #32373d;
}

.post-type-property #wpbody-content #post-body-content #delete-action .submitdelete,
.post-type-property #wpbody-content .postbox-container #delete-action .submitdelete {
  display: inline-block !important;
  background: #e54343;
}

.post-type-property #wpbody-content #post-body-content #delete-action .submitdelete:hover,
.post-type-property #wpbody-content .postbox-container #delete-action .submitdelete:hover {
  background: #d71e1e;
}

.post-type-property #wpbody-content .postbox,
.post-type-property #wpbody-content .stuffbox {
  margin: 0 0 30px;
}

.post-type-property #wpbody-content .postbox .handlediv {
  width: 50px;
  height: 50px;
}

.post-type-property #wpbody-content #submitdiv {
  margin: 0;
}

.post-type-property #wpbody-content #titlediv {
  background: #ffffff;
  padding: 30px;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 0 30px;
}

.post-type-property #wpbody-content #titlediv #title {
  border: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 2px;
}

.post-type-property #wpbody-content #titlediv #title-prompt-text {
  padding: 16px 20px;
}

.post-type-property #wpbody-content #titlediv #edit-slug-box {
  min-height: inherit;
  margin: 0;
}

.post-type-property #wpbody-content #titlediv #edit-slug-box:not(:empty) {
  margin-top: 5px;
}

.post-type-property #wpbody-content #postdivrich {
  background: #ffffff;
  padding: 30px;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.post-type-property #wpbody-content #postdivrich #wp-content-editor-tools {
  background: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

.post-type-property #wpbody-content #postdivrich #wp-content-editor-tools .wp-media-buttons {
  padding: 0 0 50px;
  flex: 1;
}

.post-type-property #wpbody-content #postexcerpt textarea {
  background: #f1f1f1;
  border-radius: 2px;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 15px 20px;
  height: 6em;
}

.post-type-property #wpbody-content #commentstatusdiv .meta-options {
  margin: 0;
}

.post-type-property #wpbody-content #tagsdiv-property-tag input.newtag {
  border: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 2px;
}

.post-type-property #wpbody-content #tagsdiv-property-tag .button {
  margin-left: 10px;
  background: #495159;
}

.post-type-property #wpbody-content #tagsdiv-property-tag .button:hover {
  background: #32373d;
}

.post-type-property #wpbody-content #tagsdiv-property-tag .tagchecklist {
  margin: 10px 0 0;
}

.post-type-property #wpbody-content #tagsdiv-property-tag .tagchecklist span {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #f1f1f1;
  color: #23282d;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px 12px;
  margin-right: 10px;
}

.post-type-property #wpbody-content #tagsdiv-property-tag .tagchecklist span a {
  position: relative;
  margin: 0;
}

.post-type-property #wpbody-content #authordiv select {
  border: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 2px;
}

.post-type-property #wpbody-content #slugdiv input {
  border: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 2px;
}

.post-type-property #wpbody-content #locationdiv #location-adder #newlocation,
.post-type-property #wpbody-content #locationdiv #location-adder #newlocation_parent {
  border: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 2px;
}

.post-type-property #wpbody-content #property-typediv #newproperty-type,
.post-type-property #wpbody-content #property-typediv #newproperty-type_parent {
  border: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 2px;
}

.post-type-property #wpbody-content #submitpost #post_status,
.post-type-property #wpbody-content #submitpost #post_password {
  border: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 2px;
}

.post-type-property #wpbody-content #submitpost .timestamp-wrap select,
.post-type-property #wpbody-content #submitpost .timestamp-wrap input {
  border: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 2px;
}

.post-type-property #wpbody-content #submitpost .timestamp-wrap #hh, .post-type-property #wpbody-content #submitpost .timestamp-wrap #jj, .post-type-property #wpbody-content #submitpost .timestamp-wrap #mn, .post-type-property #wpbody-content #submitpost .timestamp-wrap #aa {
  width: auto;
  text-align: center;
  padding: 19px 10px;
}

.post-type-property #wpbody-content .selectit {
  padding: 5px 0;
  display: inline-block;
}

.post-type-property #wpbody-content .selectit input {
  display: none;
}

.post-type-property #wpbody-content .selectit input[type="checkbox"]:checked + span {
  background: #48c569;
}

.post-type-property #wpbody-content .selectit input[type="checkbox"]:checked + span:after {
  opacity: 1;
  transform: scale(1);
}

.post-type-property #wpbody-content .selectit span {
  width: 26px;
  height: 26px;
  border-radius: 2px;
  background: #f1f1f1;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 10px 0 0;
  overflow: hidden;
}

.post-type-property #wpbody-content .selectit span:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f00c';
  color: #ffffff;
  line-height: 26px;
  opacity: 0;
  transform: scale(2);
  transition: 300ms all;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table th {
  vertical-align: middle;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table td .cherry-ui-container {
  margin: 0;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table tbody tr th,
.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table tbody tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-ui-text,
.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-ui-select {
  border: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 2px;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite {
  background: none;
  display: block;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row {
  border: none;
  display: inline-block;
  background: none;
  padding: 10px 10px 10px 0;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-order {
  border: none;
  background: none;
  display: block;
  padding: 0;
  width: 100%;
  text-align: left;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-order span {
  padding: 0;
  font-weight: normal;
  color: #23282d;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner {
  background: none;
  box-shadow: none;
  padding: 0 !important;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner table {
  display: block;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner table tbody tr:first-child {
  display: none;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner table tbody tr th,
.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner table tbody tr td {
  display: block;
  padding: 0;
  width: auto;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner table tbody tr th label,
.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner table tbody tr td label {
  display: none;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner .cherry-image-wrap .inner {
  margin: 0;
  border: none;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner .cherry-image-wrap .inner .cherry-remove-image {
  display: none;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner .cherry-image-wrap .inner .title {
  display: none;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner .upload-button {
  border: none;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 19px 20px;
  height: auto;
  background: #298ffc;
  border-radius: 2px;
  transition: 300ms all;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner .upload-button:hover {
  background: #0375ef;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-inner .upload-button:active {
  margin: 0;
  top: 0;
  border: none;
  box-shadow: none;
  transform: none;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-options {
  border: none;
  padding: 0;
  vertical-align: top;
  text-align: left;
  width: auto !important;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-options .cherry-infinite-remove {
  background: none;
  margin: 5px 0 0 10px;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-options .cherry-infinite-remove:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  content: '\f1f8';
  color: #b4b7ba;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-options .cherry-infinite-remove:hover:after {
  color: #298ffc;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite .cherry-infinite-row .cherry-infinite-options .cherry-infinite-add {
  visibility: hidden;
  display: none;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite-add-field-container .button-primary {
  border: none;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 19px 20px;
  height: auto;
  background: #298ffc;
  border-radius: 2px;
  transition: 300ms all;
  background: #495159;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite-add-field-container .button-primary:hover {
  background: #0375ef;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite-add-field-container .button-primary:active {
  margin: 0;
  top: 0;
  border: none;
  box-shadow: none;
  transform: none;
}

.post-type-property #wpbody-content #cherry-post-metabox .inside .form-table .cherry-infinite-container .cherry-infinite-add-field-container .button-primary:hover {
  background: #32373d;
}

.taxonomy-property-type #col-container,
.taxonomy-property-tag #col-container,
.taxonomy-location #col-container {
  display: flex;
  flex-wrap: wrap;
}

.taxonomy-property-type #col-container > div,
.taxonomy-property-tag #col-container > div,
.taxonomy-location #col-container > div {
  width: 100%;
  flex: 1 0 100%;
  float: none;
}

.taxonomy-property-type #col-container > div#col-right,
.taxonomy-property-tag #col-container > div#col-right,
.taxonomy-location #col-container > div#col-right {
  order: 2;
}

.taxonomy-property-type #col-container > div#col-left,
.taxonomy-property-tag #col-container > div#col-left,
.taxonomy-location #col-container > div#col-left {
  order: 1;
}

.taxonomy-property-type #posts-filter .tablenav,
.taxonomy-property-tag #posts-filter .tablenav,
.taxonomy-location #posts-filter .tablenav {
  width: 100%;
}

.taxonomy-property-type .form-wrap > h2,
.taxonomy-property-tag .form-wrap > h2,
.taxonomy-location .form-wrap > h2 {
  font-size: 1.8em;
}

.taxonomy-property-type .form-wrap form,
.taxonomy-property-tag .form-wrap form,
.taxonomy-location .form-wrap form {
  padding: 30px;
  border-spacing: 0 30px;
  margin: 30px 0 0;
  border-radius: 7px;
  border: 2px solid #e5e5e5;
  background: #f1f1f1;
}

.taxonomy-property-type .form-wrap form .form-field,
.taxonomy-property-tag .form-wrap form .form-field,
.taxonomy-location .form-wrap form .form-field {
  background: #ffffff;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  padding: 0 0 30px;
  margin: 0 0 30px;
  border-radius: 5px;
}

.taxonomy-property-type .form-wrap form .form-field input,
.taxonomy-property-type .form-wrap form .form-field select,
.taxonomy-property-type .form-wrap form .form-field textarea,
.taxonomy-property-tag .form-wrap form .form-field input,
.taxonomy-property-tag .form-wrap form .form-field select,
.taxonomy-property-tag .form-wrap form .form-field textarea,
.taxonomy-location .form-wrap form .form-field input,
.taxonomy-location .form-wrap form .form-field select,
.taxonomy-location .form-wrap form .form-field textarea {
  border: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 2px;
  margin: 30px 30px 0 30px;
  width: calc(100% - 60px);
}

.taxonomy-property-type .form-wrap form .form-field textarea,
.taxonomy-property-tag .form-wrap form .form-field textarea,
.taxonomy-location .form-wrap form .form-field textarea {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 110px;
  line-height: 1.3;
}

.taxonomy-property-type .form-wrap form .form-field p,
.taxonomy-property-tag .form-wrap form .form-field p,
.taxonomy-location .form-wrap form .form-field p {
  margin: 20px 30px 0;
  font-style: normal;
}

.taxonomy-property-type .form-wrap form .submit,
.taxonomy-property-tag .form-wrap form .submit,
.taxonomy-location .form-wrap form .submit {
  padding: 0;
  margin: 0;
}

.taxonomy-property-type .form-wrap form .button,
.taxonomy-property-tag .form-wrap form .button,
.taxonomy-location .form-wrap form .button {
  border: none;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 19px 20px;
  height: auto;
  background: #298ffc;
  border-radius: 2px;
  transition: 300ms all;
  display: inline-block;
  background: #48c569;
}

.taxonomy-property-type .form-wrap form .button:hover,
.taxonomy-property-tag .form-wrap form .button:hover,
.taxonomy-location .form-wrap form .button:hover {
  background: #0375ef;
}

.taxonomy-property-type .form-wrap form .button:active,
.taxonomy-property-tag .form-wrap form .button:active,
.taxonomy-location .form-wrap form .button:active {
  margin: 0;
  top: 0;
  border: none;
  box-shadow: none;
  transform: none;
}

.taxonomy-property-type .form-wrap form .button:hover,
.taxonomy-property-tag .form-wrap form .button:hover,
.taxonomy-location .form-wrap form .button:hover {
  background: #34a652;
}

.taxonomy-property-type .form-wrap form label,
.taxonomy-property-tag .form-wrap form label,
.taxonomy-location .form-wrap form label {
  font-size: 1.3em;
  font-weight: 600;
  margin: 0;
  padding: 14px 20px;
  border-bottom: 1px solid #e5e5e5;
}

.taxonomy-property-type .tagcloud,
.taxonomy-property-tag .tagcloud,
.taxonomy-location .tagcloud {
  width: 100%;
}

.taxonomy-property-type .tagcloud h2,
.taxonomy-property-tag .tagcloud h2,
.taxonomy-location .tagcloud h2 {
  font-size: 1.8em;
  line-height: 1.2;
  margin: 0 0 20px;
}

.taxonomy-property-type .tagcloud a,
.taxonomy-property-tag .tagcloud a,
.taxonomy-location .tagcloud a {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #f1f1f1;
  color: #23282d;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px 12px;
  margin-right: 10px;
  text-decoration: none;
}

.taxonomy-property-type .tagcloud a:hover,
.taxonomy-property-tag .tagcloud a:hover,
.taxonomy-location .tagcloud a:hover {
  border-color: #298ffc;
}

.taxonomy-property-type .form-table,
.taxonomy-property-tag .form-table,
.taxonomy-location .form-table {
  border-collapse: separate;
  border-spacing: 0 30px;
}

.taxonomy-property-type .form-table .form-field,
.taxonomy-property-tag .form-table .form-field,
.taxonomy-location .form-table .form-field {
  background: #ffffff;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.taxonomy-property-type .form-table .form-field th,
.taxonomy-property-tag .form-table .form-field th,
.taxonomy-location .form-table .form-field th {
  display: block;
  width: 100%;
  padding: 0;
}

.taxonomy-property-type .form-table .form-field th label,
.taxonomy-property-tag .form-table .form-field th label,
.taxonomy-location .form-table .form-field th label {
  font-size: 1.3em;
  font-weight: 600;
  margin: 0;
  padding: 14px 20px;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  display: block;
}

.taxonomy-property-type .form-table .form-field td,
.taxonomy-property-tag .form-table .form-field td,
.taxonomy-location .form-table .form-field td {
  padding: 30px;
  display: block;
  width: 100%;
  margin: 0;
}

.taxonomy-property-type .form-table .form-field input[type="text"],
.taxonomy-property-type .form-table .form-field select,
.taxonomy-property-type .form-table .form-field textarea,
.taxonomy-property-tag .form-table .form-field input[type="text"],
.taxonomy-property-tag .form-table .form-field select,
.taxonomy-property-tag .form-table .form-field textarea,
.taxonomy-location .form-table .form-field input[type="text"],
.taxonomy-location .form-table .form-field select,
.taxonomy-location .form-table .form-field textarea {
  border: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 2px;
  margin: 0 0 20px;
  width: 100%;
}

.taxonomy-property-type .form-table .form-field textarea,
.taxonomy-property-tag .form-table .form-field textarea,
.taxonomy-location .form-table .form-field textarea {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 110px;
  line-height: 1.3;
}

.taxonomy-property-type .form-table .form-field select,
.taxonomy-property-tag .form-table .form-field select,
.taxonomy-location .form-table .form-field select {
  margin: 0;
}

.taxonomy-property-type .form-table .form-field p,
.taxonomy-property-tag .form-table .form-field p,
.taxonomy-location .form-table .form-field p {
  font-style: normal;
}

.taxonomy-property-type .submit,
.taxonomy-property-tag .submit,
.taxonomy-location .submit {
  padding: 0;
  margin: 0 0 30px;
}

.taxonomy-property-type .button,
.taxonomy-property-tag .button,
.taxonomy-location .button {
  border: none;
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 19px 20px;
  height: auto;
  background: #298ffc;
  border-radius: 2px;
  transition: 300ms all;
  display: inline-block;
  background: #48c569;
}

.taxonomy-property-type .button:hover,
.taxonomy-property-tag .button:hover,
.taxonomy-location .button:hover {
  background: #0375ef;
}

.taxonomy-property-type .button:active,
.taxonomy-property-tag .button:active,
.taxonomy-location .button:active {
  margin: 0;
  top: 0;
  border: none;
  box-shadow: none;
  transform: none;
}

.taxonomy-property-type .button:hover,
.taxonomy-property-tag .button:hover,
.taxonomy-location .button:hover {
  background: #34a652;
}

.post-type-property.taxonomy-property-type #wpbody-content .wrap > form#edittag,
.post-type-property.taxonomy-property-tag #wpbody-content .wrap > form#edittag,
.post-type-property.taxonomy-location #wpbody-content .wrap > form#edittag {
  padding-top: 0;
  padding-bottom: 0;
}
