.tooltip-fox {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;

	.tooltiptext {
		visibility: hidden;
		width: 240px;
		background-color: black;
		color: #fff;
		text-align: center;
		padding: 5px 0;
		border-radius: 6px;

		position: absolute;
		z-index: 1;

		a {
			color: #FE693D;

			&:hover {
				color: #FE693D;
			}
		}
		
		&.bottom {
			top: 100%; /* At the bottom of the tooltip */
			left: 5%;
		}

		&.top {
			bottom: 100%;  /* At the top of the tooltip */
			left: 5%;
		}

		&.left {
			top: 50%;
			right: 100%; /* To the left of the tooltip */
		}

		&.right {
			top: 50%;
			left: 100%; /* To the right of the tooltip */
		}
	}

	&:hover {
		.tooltiptext {
			visibility: visible;
		}
	}
}
