.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.breadcrumbs {
	margin: -6px 0 26px;

	&_page-title {
		display: inline-block;
		vertical-align: middle;
		padding-right: 25px;
		margin: 0;

		@media (max-width: 767px) {
			display: block;
		}
		& + .breadcrumbs_list {
			display: inline-block;
			vertical-align: middle;

			@media (max-width: 767px) {
				display: block;
			}
		}
	}
	&_list {
		li {
			display: inline-block;
			vertical-align: middle;

			&:before {
				content: "/\00a0";
				padding: 0 5px;
				color: #cccccc;

				@media (max-width: 767px) {
					display: none; 
				}
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
		}
	}
}