.sticky {
	display: block;
}

.hentry {
	margin: 0 0 30px;

	@media (max-width: 480px) {
		margin: 0 0 10px;
	}
	.single & {
		margin-bottom: 0;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Posts */
.post.type-post,
.page.type-page,
.not-found_content-wrap {
	background: white;
	padding: 40px 40px 30px;

	@media (max-width: 1201px) {
		padding: 20px;
	}
	@media (max-width: 991px) {
		padding: 40px;
	}
	@media (max-width: 481px) {
		padding: 20px 10px;
	}

	.two-sidebars & {
		padding: 20px;
	}
	.single & {
		background: none;
		padding: 0;
	}
}
.grid-layout {
	.post.type-post {
		min-height: 557px;

		.post-content {
			display: none;
		}
	}
}
.page.type-page {
	padding: 34px 40px 30px 46px;
	margin: 0;

	@media (max-width: 1201px) {
		padding: 20px;
	}
	@media (max-width: 991px) {
		padding: 40px;
	}
	@media (max-width: 481px) {
		padding: 20px 10px;
	}
	.two-sidebars & {
		padding: 20px;
	}
	.archive &,
	.search & {
		margin: 0 0 30px;
	}
}
.masonry-layout {
	margin: 0 -15px;

	.brick {
		padding: 0 15px;
	}
}
.single-post-content {
	background: white;
	padding: 40px 40px 30px;
	margin: 0 0 30px;

	@media (max-width: 1201px) {
		padding: 20px;
	}
	@media (max-width: 991px) {
		padding: 40px;
	}
	@media (max-width: 481px) {
		padding: 20px 10px;
	}
	.two-sidebars & {
		padding: 20px;
	}
	.photolab-gallery,
	.mejs-container {
		margin: 0 0 21px;
	}
	.photolab-gallery {
		.owl-item {
			&:before {
				display: none;
			}
		}
	}
}
.entry-wrapper {
	.featured-post-icon { 
		display: none;
		margin: 0 0 20px;
		width: 3rem;
		height: 3rem;
		text-align: center;
		border-radius: 50%;

		i {
			font-size: 2rem;
			line-height: 1.5em;	
		}
		.has-post-thumbnail & {
			position: absolute;
			top: 20px;
			right: 20px;

			.single & {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
	&.featured {
		position: relative;

		.featured-post-icon {
			display: block;
			position: absolute;
		}
	}
}
.entry-thumbnail {
	position: relative;
	margin: 0 0 20px;

	.thumbnail {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 2000px;

		img.size-post-image {
			width: 100%;
		}
		.grid-layout & {
			height: 0;
			padding-bottom: 100%;
			overflow: hidden;

			img {
				position: absolute;
				height: 100%;
				width: auto;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				max-width: none;

				&.size-post-image {
					width: auto;
				}
			}
		}
		
		.popup-link {
			cursor: -webkit-zoom-in; 
			cursor: -moz-zoom-in;
		}
	}
}
.media {
	&.video {
		height: 0;
		padding-top: 25px;
		padding-bottom: 52.6%;
		margin-bottom: 10px;
		position: relative;
		overflow: hidden;

		.grid-layout & {
			padding-bottom: 90%;
		}
		embed, iframe, object, video {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
		}

		& + p {
			margin-top: 21px;
		}
	}
}
.entry-title {
	margin: 0 0 16px;

	.masonry-layout &,
	.grid-layout & {
		font-size: 1.5rem;
		line-height: 1.2em;
	}
	.single & {
		padding: 0 80px 0 0;
	}
}
ul.post-categories {
	margin: 0 0 16px;
	padding: 0;
	font-size: 0;

	.single & {
		padding: 0 80px 0 0;
	}
	li {
		font-size: 1rem;
		list-style-type: none; 
		display: inline-block;
		vertical-align: middle;
		margin: 0 3px 0 0;

		&:nth-child(3) + li {
			visibility: hidden;

			.single & {
				visibility: visible;
			}
		}
	}
	a {
		padding: 2px 9px 4px;
		display: block;
		margin: 0 0 3px 0;
		font-style: italic;
	}
}
.entry-media,
.entry-thumbnail,
.entry-quote {
	position: relative;

	.post-categories {
		position: absolute;
		padding: 0 70px 0 0;
		margin: 0;
		top: 20px;
		left: 20px;

		.masonry-layout & {
			top: 10px;
			left: 10px;
		}
		@media (max-width: 480px) {
			top: 10px;
			left: 10px;
		}
	}
	.featured-post-icon {
		position: absolute;
		margin: 0;
		top: 20px;
		right: 20px;

		.masonry-layout & {
			top: 10px;
			right: 10px;
		}
		@media (max-width: 480px) {
			top: 10px;
			right: 10px;
		}
	}
	&.entry-link {
		.thumbnail {
			position: relative;

			.link {
				position: absolute;
				width: 375px;
				max-width: 100%;
				height: 50px;
				line-height: 50px;
				overflow: hidden;
				text-overflow: ellipsis;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
				white-space: nowrap;
				padding: 0 10px;
				color: white;
				font-style: italic;
				text-decoration: underline;
				background: rgba(0,0,0,.8);
				transition: 200ms all;
			}
			.link-image-background {
				min-height: 388px;
				background-size: cover;
			}
			a {
				&:hover {
					.link {
						background: rgba(0,0,0,1);
						text-decoration: none;
					}
				}
			}
		}
	}
	&.entry-quote {
		.quote {
			position: relative;
			min-height: 388px;

			blockquote {
				position: absolute;
				margin: 0;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 80%;
				text-align: center;
				padding: 0;

				&:before {
					position: relative;
					display: block;
					text-align: center;
					line-height: 1rem;
					top: 2px;
					left: 6px;
				}
				p {
					&:first-child {
						margin-top: 17px;
					}
				}
				a {
					margin: 6px 0 0;

					&:before {
						margin-left: 13px;
					}
				}
			}
		}
	}
}
.entry-gallery {
	.owl-carousel {
		margin: 0;

		.owl-item {
			&:before {
				display: none;
			}
		}
	}
}
.post-meta {
	margin: 0 0 15px;

	.single & {
		margin: 0 0 24px;
	}
	span {
		font-weight: normal;
		vertical-align: middle;
		display: inline-block;

		.masonry-layout & {
			display: block;
		}
		&:after {
			content: '';
			display: inline-block;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			vertical-align: middle;
			background-color: #C2C2C2;
			margin: 0 7px 0 10px;

			.masonry-layout & {
				display: none;
			}
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
		&.meta-tags {
			display: inline;
		}
		&.meta-author {
			@media (max-width: 480px) {
				display: none;
			}
		}
		&.meta-author,
		&.meta-tags {
			.grid-layout & {
				display: none;
				visibility: hidden;
			}
		}
		&.meta-comments {
			&:after {
				.grid-layout & {
					display: none;
				}
			}
		}
	}
}
.entry-footer {
	padding: 18px 0 0;
	margin: 25px 0 0;
	border-top: 1px solid $color__background-hr;

	@media (max-width: 767px) {
		padding: 20px 0 15px;
		margin: 25px 0 0;
	}
	.row {
		> div {
			&:first-child {
				.grid-layout &,
				.masonry-layout & {
					flex: 0 0 75%;
					max-width: 75%;
				}
			}
			&:last-child {
				.grid-layout &,
				.masonry-layout & {
					flex: 0 0 25%;
					max-width: 25%;
				}
			}
		}
	}
}
.post-content {
	.entry-content {
		@media (max-width: 480px) {
			display: none;
		}
		> * {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	& + .social-share {
		margin: 19px 0 0;
	}
	.format-quote & {
		.quote {
			position: relative;
			min-height: 388px;
			margin: 0 0 21px;

			blockquote {
				position: absolute;
				margin: 0;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 80%;
				text-align: center;
				padding: 0;

				&:before {
					position: relative;
					display: block;
					text-align: center;
					line-height: 1rem;
					top: 2px;
					left: 6px;
				}
				p {
					&:first-child {
						margin-top: 17px;
					}
				}
				a {
					margin: 6px 0 0;

					&:before {
						margin-left: 13px;
					}
				}
			}
		}
	}
}

figure.entry-link.without-image {
	text-align: center;
	padding: 10px;
}

.author-description {
	margin: 23px 0;
	padding: 40px 40px 36px;

	.two-sidebars & {
		padding: 20px;
	}
	@media (max-width: 1201px) {
		padding: 20px;
	}
	@media (max-width: 991px) {
		padding: 40px;
	}
	@media (max-width: 481px) {
		padding: 20px 10px;
	}
	&_avatar {
		margin-bottom: 0;

		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
		img {
			border-radius: 50%;
			margin-top: 4px;
		}
	}
	&_content {
		* {
			&:last-child {
				margin-bottom: 0;
			}
		}
		h4 {
			margin-top: -4px;
		}
	}
}

.social-post-code {
	padding: 30px;
	text-align: center;
	margin: 0 0 21px;

	@media (max-width: 1200px) {
		padding: 20px 0;
	}
	@media (max-width: 480px) {
		margin: 0 -10px 30px;
	}
	&.facebook-code {
		background: #5b74b3;
	}
	&.twitter-code {
		background: #55acee;

		.twitter-tweet {
			margin: 0 auto !important;
		}
	}
}

/* Social share */
.social-share {
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		display: inline-block;
		margin: 5px 21px 5px 0;

		a {
			color: $color__text-gray;

			&:hover {
				color: $color__dark-blue;
			}
		}
	}
}

/* Single pages */
.entry-content {
	&.page {
		img.size-large {
			width: 100%;
		}
		.social-share {
			li {
				padding: 0;
				
				&:before {
					display: none;
				}
			}
		}
		> * {
			&:first-child {
				margin-top: 0;

				img {
					margin-top: 0;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.popup-link,
.popup-gallery-link {
	position: relative;
	display: block;

	&:before {
		content: '';
		background-color: #fe7545;
		opacity: 0;
		transition: 0.25s all ease;
		width: 100%;
		height: 100%;
		display: inline-block;
		top: 0;
		left: 0;
		position: absolute;
		z-index: 10;
	}
	&:after {
		content: '\e8f4';
		font-family: 'Material Icons';
		font-size: 22px;
		line-height: 1.27272727;
		position: absolute;
		top: 50%;
		left: 50%;
		color: #ffffff;
		opacity: 0;
		transition: 0.25s all ease;
		transform: translateX(-50%) translateY(-50%) scale(5);
		z-index: 100;
	}
	&:hover {
		&:before {
			opacity: .5;
		}
		&:after {
			opacity: 1;
			transform: translateX(-50%) translateY(-50%) scale(1);
		}
	}
}

/* Masonry layout */
.brick {
	float: left;

	&.brick-2 {
		width: 50%;

		@media (max-width: 992px) {
			width: 100%;
		}
	}
	&.brick-3 {
		width: 33.33333333333%;

		@media (max-width: 992px) {
			width: 100%;
		}
	}
}

/* Not found page */
.not-found_content-wrap {
	margin: 20px 0 0;
	padding-top: 20px;
}