ul, ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 20px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

.post-content,
.comment-content,
.entry-content {
	ul, 
	ol {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			position: relative;

			&:first-child {
				padding-top: 1px;
			}
			&:last-child {
				padding-bottom: 1px;
			}
		}
	}
	ul {
		ul {
			padding: 0 0 0 20px;
		}
		li {
			padding: 3px 0 3px 15px;
			position: relative;

			&:before {
				content: '•';
				font-size: 1rem;
				line-height: inherit;
				position: absolute;
				top: 3px;
				left: 0;
			}
		}
	}
	ol {
		padding: 0;
		counter-reset: list; 

		ol {
			padding: 0 0 0 20px;
		}
		li {
			padding: 3px 0;
			position: relative;

			&:before {
				content: counter(list) '.';
				counter-increment: list;
				font-size: 1rem;
				line-height: inherit;
				padding: 0 7px 0 0;
				font-style: italic;
				font-weight: bold;
			}
		}
	}
}