/*
* @section Messages
*/
/*
* @section widget
*/

.tm-image-grid-widget .image-grid_item {
  padding-bottom: 5px;
  padding-top: 5px; 
  
}

.tm-image-grid-widget .image-grid_item a {
  text-decoration: none;
  background-size: cover;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.tm-image-grid-widget .image-grid_item a:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1;
  opacity: 0;
  transition: 200ms all;
}

.tm-image-grid-widget .image-grid_item a:hover:before {
  opacity: 1;
}

.tm-image-grid-widget .image-grid_item a h6 {
  font-size: .75rem;
  text-align: center;
  margin: 0;
  padding: 10px;
  position: relative;
  z-index: 100;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  white-space: normal;
}
